<div class="dashboard">
  <h2>Dashboard</h2>

  <div class="actions">
    <button (click)="addGame()">Add Game</button>
    <button (click)="addTeams()">Add Teams</button>
    <button (click)="showScoreDetails()">Show Score Details</button>
    <button (click)="showRanklists()">Show Ranklists</button>
    <button (click)="goToPlayerRanklist()">View Player Ranklist</button>
  </div>

  <div class="text-fields">
    <h3>Text Fields</h3>
    <div>
      <label for="teamName1">Team 1 Name:</label>
      <input type="text" id="teamName1" name="teamName1">
    </div>
        <div>
    <label for="playerNamet1">Player Name:</label>
      <input type="text" id="playerNamt1e" name="playerNamet1">
    </div>
    <div>
      <label for="teamName2">Team 2 Name:</label>
      <input type="text" id="teamName2" name="teamName2">
    </div>
    <div>
      <label for="playerNamet2">Player Name:</label>
      <input type="text" id="playerNamet2" name="playerNamet2">
    </div>
  </div>
</div>
