
.edit-game-container {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #1D517E;
  color: white;
  padding: 10px 20px;
  border: 1px solid #1D517E;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #15416E;
  border-color: #15416E;
}
